<% @title = "PaidApp Pricing" %>
<br /><br /><br /><br /><br /><br />
<p>
	Buy our products!!!  We sell awesome things!
</p>
<div class="row">
  <div class="pricing-box span4">
  	<div class="pricing-padding">
	  	<h2>Freemium Plan</h2>
	  	<ul>
	  		<li>30 day free trial</li>
	  		<li>$9.99 per month after trial</li>
	  		<li>Unlimited awesomeness!</li>
	  	</ul>
	  	<button class='btn btn-primary'>Buy now!</button>
  	</div>
  </div>
  <div class="pricing-box span4">
  	<div class="pricing-padding">
	  	<h2>Popular Plan</h2>
	  	<ul>
	  		<li>$99 per month</li>
	  		<li>Hang out with cool people</li>
	  		<li>Unlimited awesomeness!</li>
	  	</ul>
	  	<button class='btn btn-primary'>Buy now!</button>
  	</div>
  </div>
  <div class="pricing-box span4">
  	<div class="pricing-padding">
	  	<h2>Super Baller Plan</h2>
	  	<ul>
	  		<li>$999 per year</li>
	  		<li>Discount from monthly</li>
	  		<li>Hang out with cool people</li>
	  		<li>Unlimited awesomeness!</li>
	  	</ul>
	  	<button class='btn btn-primary'>Buy now!</button>
  	</div>
  </div>
</div>