<% @title = "Sign Up for the _______ Plan ($XXX/month)" %>
<p style="padding-top:105px; margin-bottom:20px" class="clearfix"><span style="-moz-border-radius:3px;-webkit-border-radius:3px;background:#333;color:#fff;padding:5px 10px;float:left"><strong>Step 1.</strong> Create an Account</span><span style="padding:5px 10px;float:left;margin-left:10px;float:left">Step 2. Fill out your Billing Information</span></p>

<div class='row'>
<form class="well span4" id="signup-form">
	<label>First Name</label>
	<input type='text' class="span3" name='first_name' />
	<label>Last Name</label>
	<input type='text' class="span3" name='last_name' />
	<label>Email</label>
	<input type='text' class="span3" name='email' />
	<label>Password</label>
	<input type='password' class='span3' name='password' />
	<label>Confirm Password</label>
	<input type='password' class='span3' name='password_confirmation' />
	<label class='checkbox'>
		<input type='checkbox' name='tos' />Terms of service
	</label>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>