/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$blue: #55baff;
$orange: #fe9740;

/* twitter bootstrap variables */
$navbarBackground: #fff;
$navbarBackgroundHighlight: #fff;
$navbarLinkColor: $blue;
$navbarLinkColorHover: $blue;
$navbarText: $blue;
@import "bootstrap";
body{
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@import "bootstrap-responsive";

/* universal */

html {
	overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	margin-bottom: 10px;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $blue;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  	color: $blue;
  	text-decoration: none;
	}
}
.navbar .nav > li > a {
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
}
.navbar-inner {
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow: none;
}
.page-header{
  height: 68px;
  
  background-color: #f3f3f3;
  .header-container{

    width: 940px;
    margin: 0 auto;
    text-align: left;
  }
  h1{
    padding-top: 25px;
    color: #000;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Light","Helvetica Neue," Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 36px;
    text-align: left;
  }
}

/* Buttons */
.big-button{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  border-radius: 35px;
  padding: 10px 30px 10px 30px;
  background: $blue;
}
.big-button:hover{
  color:#fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: #555;
    &:hover {
    	color: #222;
    }
  }  

  small {
  	float: left;
  }

  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
		}
	}
}